.filter-btns {
  padding: 0 var(--section-padding);
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

.filter-btns::-webkit-scrollbar {
  display: none;
}


@media (max-width: 992px) {
  .filter-btns {
    gap: .75rem;
  }
}


@media (max-width: 768px) {
  .filter-btns {
    padding-inline: 1rem;
    gap: .75rem;

    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .filter-btns > * {
    flex-shrink: 0;
  }
}